
<div>
    <div><b>Author: Inszynier</b></div>

    Tel: X XXX-XXX-XXX<br />
    Fax: X YYY-XXX-YYY<br />

    MIT, Massachusets<br />
    USA

</div>

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

